---
layout: base
title: Events
---

<h2>What's Happening...</h2>

<section class="events">
  <p id="events-intro" class="events-intro">
    The Luncheonette performs semi-public dinners, talks, work-shops,
    lectures, plays, reading groups, and musical interludes in a semi-private
    setting. All members are invited to attend. Non-members, please RSVP at
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
  </p>

  {% assign events = site.posts | sort: 'event_date' | reverse %}

  <ul id="all-events" class="events-list">
  {% for event in events %}
    <li class="event" data-date="{{ event.event_date | date_to_xmlschema }}"{% if event.end_date %} data-end-date="{{ event.end_date | date_to_xmlschema }}"{% endif %}>
      <a href="{{ site.baseurl }}{{ event.url }}">
        <div>
          <span class="title">{{ event.title }}</span>
          {% if event.end_date %}
            <span>{{ event.event_date | date: "%A %B %-d" }} - {{ event.end_date | date: "%A %B %-d, %Y" }}</span>
          {% else %}
            <span>{{ event.event_date | date: "%A %B %-d, %Y" }}</span>
          {% endif %}
        </div>
        <span class="arrow">&raquo;</span>
      </a>
    </li>
  {% endfor %}
  </ul>

  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/events.js"></script>
</section>
