<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="The Sunview" name="title" />
<meta content="The Sunview, LLC" name="copyright" />
<meta content="Business consultant" name="description" />

<meta content="The Sunview" property="og:title" />
<meta content="Advising businesses since 2012" property="og:description" />
<meta content="website" property="og:type" />
<meta content="http://thesunview.org/" property="og:url" />
<meta content="The Sunview" property="og:site_name" />
<meta property="og:image" />

<meta content="summary_large_image" name="twitter:card" />
<meta content="" name="twitter:site" />
<meta content="" name="twitter:description" />

<meta content="telephone=no" name="format-detection" />

<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="yes" name="apple-mobile-web-app-capable" />

{% if page.layout == 'home' %}
  <title>{{ page.title }}</title>
{% else %}
  <title>{{site.title}} {{site.title_separator}} {{ page.title }}</title>
{% endif %}

<!-- Additional CSS -->
<link rel="stylesheet" href="{{ site.github.url }}/style.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
