<!-- Fixed navbar -->
  <nav class="navigation" {% if page.layout == 'home' %}id="home-nav"{% endif %}>

      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
          {% assign items = site.pages | sort: "order" %}
          {% for item in items %}
            {% if item.title != "Home" %}
                {% if page.url == item.url %}
                  <li><a href="{{ item.url }}" class="active">{{item.title}}</a></li>
                {% else %}
                  <li><a href="{{ item.url }}">{{item.title}}</a></li>
                {% endif %}
            {% endif %}
          {% endfor %}
        </ul>

      </div><!--/.nav-collapse -->
  </nav>
  <div>


  </div>
