p {
  font-size: 16px;
  margin: 0 0 ($line-height-computed);
}

img {
  max-width: 100%;
}

.container {
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: $screen-sm-min) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.main-image {
  margin: 25px 0;
}

.image-caption {
  font-size: $font-size-small;
  margin-top: 5px;
}
