.homepage-intro {
  font-size: 24px;

  @media (min-width: $screen-md-min) {
    font-size: 30px;
  }
}

.featured-posts {
  .post-preview {
    text-align: center;
    margin: 80px 0;

    .post-preview-link {
      color: $text-color;
      display: block;

      &:hover {
        text-decoration: none;
      }
    }

    h3 {
      &:after {
        content: "\2014";
        font-size: 10px;
        display: block;
        margin: 20px 0;
      }
    }

    p {
      font-size: $font-size-base;
    }

    span {
      text-decoration: underline;
    }

    img {
      max-width: 50%;
    }

    .image-caption {
      margin-top: 15px;
      font-style: italic;
    }
  }
}
