.homepage-intro {
  font-size: 24px;

  @media (min-width: $screen-md-min) {
    font-size: 30px;
  }
}

.featured-posts {
  .post-preview {
    text-align: center;
    margin: 40px 0;

    .post-preview-link {
      color: $text-color;
      display: block;

      &:hover {
        text-decoration: none;
      }
    }

    h3 {
      font-size: 14px;
      padding-left: 50px;
      padding-right: 50px;

      &:after {
        content: "";
        font-size: 10px;
        display: block;
        margin: 10px 0;
      }
    }

    p {
      font-size: $font-size-base;
      margin-bottom: 10px;
    }

    span {
      text-decoration: underline;
    }

    img {
      max-width: 75%;
    }

    .image-caption {
      margin-top: 15px;
      font-style: italic;
    }
  }
}
