.homepage-intro {
  font-size: 24px;

  @media (min-width: $screen-md-min) {
    font-size: 30px;
  }
}

.homepage-announcement {
  border: 2px solid black;
  padding: 15px;
  margin-bottom: 60px;

  h3 {
    margin-top: 0;
  }

  p, a {
    font-size: 18px;
  }

  @media (min-width: $screen-md-min) {
    padding: 30px;

    p, a {
      font-size: 24px;
    }
  }
}

.donate-buttons {
  display: flex;
  gap: 15px;

  .button-link {
    color: black;
    border: 2px solid black;
    padding: 15px;
    font-size: 20px;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.featured-posts {
  .post-preview {
    text-align: center;
    margin: 40px 0;

    .post-preview-link {
      color: $text-color;
      display: block;

      &:hover {
        text-decoration: none;
      }
    }

    h3 {
      font-size: 14px;
      padding-left: 50px;
      padding-right: 50px;

      &:after {
        content: "";
        font-size: 10px;
        display: block;
        margin: 10px 0;
      }
    }

    p {
      font-size: $font-size-base;
      margin-bottom: 10px;
    }

    span {
      text-decoration: underline;
    }

    img {
      max-width: 75%;
    }

    .image-caption {
      margin-top: 15px;
      font-style: italic;
    }

    &.past {
      h3, p { display: none; }
    }
  }
}
