// Bootstrap Colors
$brand-primary: #FF0000;

// Bootstrap Scaffolding
$body-bg:    #F8F8F8;
$text-color: #000000;
$headings-color: $text-color;

// Bootstrap Typography
$font-family-serif:    "Times New Roman", Times, serif;
$font-family-base:     $font-family-serif;
$headings-font-family: "Arial Black", Helvetica, Arial, sans-serif;
$headings-font-weight: bold;

// Forms
$input-bg:          #F5EBE5;
$input-color:       #CC3300;
$input-border:      $input-color;
$input-placeholder: #E3987E;
