@font-face {
 font-family: "arial-black";
 src: url("assets/arial-black.woff") format("woff");
}

/** Copied from bootstrap and should be removed! **/

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;

// Bootstrap Colors
$brand-primary: #FF0000;

// Bootstrap Scaffolding
$body-bg:    #F8F8F8;
$text-color: #000000;
$headings-color: $text-color;

// Bootstrap Typography
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:    "Times New Roman", Times, serif;
$font-family-base:     $font-family-serif;

$font-size-base:          14px !default;
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h1:           36px;
$font-size-h2:           30px;
$font-size-h3:           24px;
$font-size-h4:           18px;
$font-size-h5:           14px;
$font-size-h6:           12px;
$line-height-base:       1.428571429;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px
$headings-line-height:   1.1;

$headings-font-family: "arial-black", "Arial Black", Helvetica, Arial, sans-serif;
$headings-font-weight: bold;

// Links
$link-color:             $brand-primary;
$link-hover-color:       darken($link-color, 15%);
$link-hover-decoration:  underline;

// Forms
$input-bg:          #F5EBE5;
$input-color:       #CC3300;
$input-border:      $input-color;
$input-placeholder: #E3987E;
