<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container">
      <nav class="site-nav">
        <div class="site-logo">
          <a href="/">The Sunview</a>
        </div>
        <div class="site-links">
          <a href="/rentals">Rentals</a>
          <a href="/slscr">SLSCR</a>
          <a href="/support">Support</a>
          <a href="/contact">Contact</a>
        </div>
      </nav>
      {{ content }}
    </div>
  </body>
</html>
