<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container">
      <nav class="site-nav">
        <div class="site-logo">
          <a href="{{ site.baseurl }}/">The Sunview</a>
        </div>
        <div class="site-links">
          <a href="{{ site.baseurl }}/events">What's Here</a>
          <a href="{{ site.baseurl }}/support">Support</a>
          <a href="{{ site.baseurl }}/contact">Contact</a>
          <a id="menu-toggle" href="#">S.L.S.C.</a>
          <ul id="menu" class="menu-dropdown hidden">
            <li><a href="{{ site.baseurl }}/about">About</a></li>
            <li><a href="{{ site.baseurl }}/accessibility">Accessibility</a></li>
            <li><a href="{{ site.baseurl }}/slscr">S.L.S.C.R.</a></li>
            <li><a href="{{ site.baseurl }}/eros-library">Bradley Eros VHS Archive</a></li>
            <li><a href="{{ site.baseurl }}/607-csa">607 CSA</a></li>
          </ul>
        </div>
      </nav>

      {{ content }}

    </div>

    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/menu-toggle.js" charset="utf-8"></script>
  </body>
</html>
