---
layout: base
---

<section class="homepage-announcement">
  <h3>We're Moving!</h3>
  <p>
    After 12 ✨stellar✨ years as a cooperative, not-for-profit community art and
    cultural space in Greenpoint, the Sunview Luncheonette is preparing for a
    cosmic transition. The building at <strong>221 Nassau Ave</strong> has been
    sold, and while this marks the end of an era, it is also the beginning of a
    new one for the collective.
  </p>
  <p>
    We are moving to <strong>a new home</strong>—one that will continue to be an
    <strong>inclusive gathering space</strong> for artists, organizers,
    eco-activists, poets and writers, neighbors, and friends, and we need your
    help to make it happen!
  </p>
  <p>
    <a href="/help-us-move">Read more</a>
  </p>
  <div class="donate-buttons">
    <a class="button-link" href="https://account.venmo.com/u/sunview-luncheonette" target="_blank">Donate with Venmo</a>
    <a class="button-link" href="https://www.paypal.com/paypalme/thesunview" target="_blank">
      Donate with PayPal
    </a>
  </div>
</section>

<section>
  <p class="homepage-intro">
    <span class="h2">The Sunview Luncheonette</span> is a co-operative, a storefront on pause,
    a member-based social club, a sometimes microvenue for art, poetics, regionalism,
    mutual aid, and commoning. It floats above the second largest oil spill in US history, 
    down the street from an active EPA Superfund site. It is resistant to traditional forms of commerce,
    commodification, and to gentrification. It is above all, an &ldquo;approach,&rdquo; and
    least of all, an &ldquo;outcome.&rdquo; It is unknown. It is hopeful. It saves you a
    seat at the counter.
  </p>
</section>

<div id="react-root"></div>

<section class="email-signup">
  <a href="https://thesunview.us7.list-manage.com/subscribe?u=40c440d0484464afd43084dea&id=79ac4598a3" target="_blank">
    Sign up for general, occasional updates
  </a>
</section>

{% assign home_content = site.posts | sort: 'event_date' | reverse %}
{% assign pinned_content = site.documents |
  where_exp: "item", "item.homepage_position != nil" |
  sort: "homepage_position" %}

<script id="pinned-post-json">
  [
    {% for post in pinned_content %}
      {
        "title": "{{ post.title }}",
        "url": "{{ site.baseurl }}{{ post.url }}",
        "homepage_position": "{{ post.homepage_position }}",
        "type": "{{ post.collection }}",
        "image": "{% if post.image %}{{ site.baseurl }}{{ post.image }}{% elsif post.main_image %}{{ site.baseurl }}{{ post.main_image }}{% endif %}",
        "image_description": "{% if post.image_description %}{{ post.image_description }}{% endif %}"
      }{% if forloop.last == false %},{% endif %}
    {% endfor %}
  ]
</script>

<script id="event-post-json">
  [
    {% for post in home_content limit: 20 %}
      {
        "title": "{{ post.title }}",
        "url": "{{ site.baseurl }}{{ post.url }}",
        "type": "{{ post.collection }}",
        "image": "{% if post.main_image %}{{ site.baseurl }}{{ post.main_image }}{% endif %}",
        "date": "{{ post.event_date }}",
        "endDate": "{{ post.end_date }}"
      }{% if forloop.last == false %},{% endif %}
    {% endfor %}
  ]
</script>
