---
layout: base
---

<section>
  <p class="homepage-intro">
    <span class="h2">The Sunview Luncheonette</span> is a co-operative, a storefront on pause,
    a member-based social club, a sometimes microvenue for art, poetics, regionalism,
    mutual aid, and commoning. It floats above the second largest oil spill in US history, 
    down the street from an active EPA Superfund site. It is resistant to traditional forms of commerce,
    commodification, and to gentrification. It is above all, an &ldquo;approach,&rdquo; and
    least of all, an &ldquo;outcome.&rdquo; It is unknown. It is hopeful. It saves you a
    seat at the counter.
  </p>
</section>

<div id="react-root"></div>

<section class="email-signup">
  <p>For general, occasional updates:</p>
  {% include email-signup.html %}
</section>

{% assign home_content = site.posts | sort: 'event_date' | reverse %}
{% assign pinned_content = site.documents |
  where_exp: "item", "item.homepage_position != nil" |
  sort: "homepage_position" %}

<script id="pinned-post-json">
  [
    {% for post in pinned_content %}
      {
        "title": "{{ post.title }}",
        "url": "{{ site.baseurl }}{{ post.url }}",
        "homepage_position": "{{ post.homepage_position }}",
        "type": "{{ post.collection }}",
        "image": "{% if post.image %}{{ site.baseurl }}{{ post.image }}{% elsif post.main_image %}{{ site.baseurl }}{{ post.main_image }}{% endif %}",
        "image_description": "{% if post.image_description %}{{ post.image_description }}{% endif %}"
      }{% if forloop.last == false %},{% endif %}
    {% endfor %}
  ]
</script>

<script id="event-post-json">
  [
    {% for post in home_content limit: 20 %}
      {
        "title": "{{ post.title }}",
        "url": "{{ site.baseurl }}{{ post.url }}",
        "type": "{{ post.collection }}",
        "image": "{% if post.main_image %}{{ site.baseurl }}{{ post.main_image }}{% endif %}",
        "date": "{{ post.event_date }}"
      }{% if forloop.last == false %},{% endif %}
    {% endfor %}
  ]
</script>
