---
layout: base
---

<header>
  <h1>{{ page.title }}</h1>
  {% if page.subtitle %}
    <h3>{{ page.subtitle }}</h3>
  {% endif %}
</header>

{% if page.event_date %}
  {% if page.end_date %}
    <p class="date-info">{{ page.event_date | date: "%A %B %-d @ %l:%M %P" }} - {{ page.end_date | date: "%A %B %-d, %Y @ %l:%M %P" }}</p>
  {% else %}
    <p class="date-info">{{ page.event_date | date: "%A %B %-d, %Y @ %l:%M %P" }}</p>
  {% endif %}
{% endif %}

{% if page.main_image %}
  <div class="main-image">
    <img src="{{ site.baseurl }}{{ page.main_image }}">
    {% if page.image_caption %}
      <div class="image-caption">
        Image:
        {{ page.image_caption | markdownify | remove: '<p>' | remove: '</p>' }}
      </div>
    {% endif %}
  </div>
{% endif %}

{{ content }}
