---
layout: page
---

<section class="post-content">
  {{ page.content }}
</section>

{% assign categories = page.categories %}
{% assign tags = page.tags %}

{% if categories.size > 0 %}
  <section class="categories">
    <ul>
      {% assign categories = page.categories %}
      {% for category in categories %}
        <li>{{category}}</li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% if tags.size > 0 %}
  <section class="tags">
    <ul>
      {% assign tags = page.tags %}
      {% for tag in tags %}
        <li>{{tag}}</li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
