---
layout: base
---

<header>
  <h2>{{ page.title }}</h2>
  {% if page.subtitle %}
    <h3>{{ page.subtitle }}</h3>
  {% endif %}
</header>

{% if page.image %}
  <img src="{{ site.baseurl }}/assets/images/{{ page.image }}">
{% endif %}

<section class="post-content">
  <p class="date-info">
  {% if page.date_info %}
    {{ page.date_info }}
  {% else %}
    {{ page.date | date: "%A %B %-d, %Y" }}
  {% endif %}
  </p>
  {{ page.content }}
</section>

{% if page.tags %}
  <section class="tags">
    <ul>
      {% assign tags = page.tags %}
      {% for tag in tags %}
        <li>{{tag}}</li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
